// global
$base-border-radius: 0.25rem;
$base-transition-duration: 0.35s;

// colors
$primary-color: #0ccac4;
$secondary-color: #071b52;
$tertiary-color: #95dada;

// fonts
$regular-weight: 400;
$medium-weight: 500;
$semi-bold-weight: 600;

$primary-font-family: 'Montserrat', sans-serif;
$secondary-font-family: 'Smythe', cursive;
