@import '../../styles/variables.scss';

.card {
  display: flex;
  flex-direction: column;
  background-color: $tertiary-color;
  transition: transform $base-transition-duration ease-out;
  border-radius: $base-border-radius;
  backface-visibility: hidden;
  transform: translateZ(0);
  padding: 0 0 2rem;
  cursor: pointer;
  margin: 0.75rem;
  width: 20rem;

  &:hover {
    transform: scale(1.03);
  }

  .image {
    width: 11.25rem;
    height: 11.25rem;
    margin: 0 auto 1rem;
  }

  p {
    font-size: 1.25rem;
    font-weight: $semi-bold-weight;
    margin-bottom: 0.5rem;
  }

  span {
    font-weight: $medium-weight;
  }
}
