@import '/src/styles/variables.scss';

body {
  padding: 0;
  margin: 2.5rem 0 5rem;
  font-weight: $regular-weight;
  font-family: $primary-font-family;
  background: linear-gradient(to right, darken($primary-color, 15%) 0%, $secondary-color 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
  text-align: center;

  &::-webkit-scrollbar {
    display: none;
  }
}

h1 {
  margin: 0 0 3rem;
  font-size: 7.5rem;
  font-family: $secondary-font-family;
  font-weight: $regular-weight;
  color: $primary-color;
}